@charset "UTF-8";
/* CSS Document */

html{
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;	
	background-image: url(../images/beachbum.jpg);
	background-size: cover;
}

* {
	box-sizing: border-box;	
}

.main {
	
}

h4 {
	font-size: .75rem;
	text-align: center;
}

h1 {
	text-align: center;	
	color: rgba(255,255,255,1.00);
	font-family: 'Poiret One', cursive;
}

h2 {
	text-align: center;	
	color: rgba(255,255,255,1.00);
	font-family: 'Poiret One', cursive;
	font-size: 2rem;
}

h3 {
	text-align: center;	
	color: black;
	font-family: 'Poiret One', cursive;
	font-size: 3rem;
}

a {
	color: black;	
}

a:hover,
a:active,
a:focus {
	color: white;	
}


.social {
	text-align: center;
	
}

.ease-all{
	-webkit-transition: all 350ms ease-in-out;
	-moz-transition: all 350ms ease-in-out;
	-ms-transition: all 350ms ease-in-out;
	-o-transition: all 350ms ease-in-out;
	transition: all 350ms ease-in-out;	
}

.hide-text{
	display: block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.social a{
	display: inline-block;
	
	width: 75px;
	height: 75px; 
	margin-right: 1rem;
	text-align: center;
	padding-top: .8125rem;
	color: black; /* colour of the icon before the hover*/
	
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	-ms-border-radius: 40px;
	-o-border-radius: 40px;
	border-radius: 40px;
	
	-webkit-box-shadow: inset 0px 0px 0px 40px white;
	-moz-box-shadow: inset 0px 0px 0px 40px white;	
	-ms-box-shadow: inset 0px 0px 0px 40px white;
	-o-box-shadow: inset 0px 0px 0px 40px white;
	box-shadow: inset 0px 0px 0px 40px white;
}

.social a:hover,
.social a:active,
.social a:focus{
	-webkit-box-shadow: inset 0px 0px 0px 3px black;
	-moz-box-shadow: inset 0px 0px 0px 3px black;	
	-ms-box-shadow: inset 0px 0px 0px 3px black;
	-o-box-shadow: inset 0px 0px 0px 3px black;
	box-shadow: inset 0px 0px 0px 3px black;	
	
	color: white; /* colour of my actual icon when hovering over it */
}



@media screen and (min-width: 40em) {
	
	.logo {
		width: 60%;	
	} 

}

@media screen and (min-width: 50em) {
	
	.logo {
		width: 50%;	
	} 

}

@media screen and (min-width: 50em) {
	
	.logo {
		width: 20%;	
	} 

}