@charset "UTF-8";
/* CSS Document */

@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

section {
	
}

.welcome {
	background-image: url(../images/fluffiesbw.jpg);
	background-size: cover;	
}

.why {
	background: rgba(209,207,207,1.00);	
}

.portfolio {
	background:rgba(241,240,197,1.00);	
}

.contact {
	background: rgba(208,237,215,1.00);
	padding: 10rem;
}

nav {
	text-align: center;
	font-size: 2rem;
	position: fixed;
	background-color: rgba(241,194,91,1.00);
	display: none;
	margin-bottom: 5rem;
}

nav li{
	display: inline-block;
		
}

nav a,
nav a:link,
nav a:visited {
	text-decoration: none;
	color: rgba(0,0,0,1.00);
}

nav a:hover,
nav a:focus,
nav a:active {
	color: rgba(253,253,253,1.00);
	text-decoration: underline;
}

.nav[data-state="expanded"]{
	display: block;
	position: relative;
	margin-bottom: 13rem;
}

@media screen and (min-width: 25em) {
	
	nav {
		display: block;	
	}
	
	.nav-btn {
		display:none;	
	}
	
}

.logo {
	width: 50%;	
}

h1 {
	text-align: center;	
	color: rgba(255,255,255,1.00);
}

h2 {
	text-align: center;
	color: rgba(225,136,21,1.00);	
}

p {
	text-align: center;	
	padding: 3rem;
	position: relative;
}

